/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"); */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
}

#map { 
 /*  border: 1px solid black; */
  height: 550px;
  width: 70%;
  z-index: 0;
  border-radius: 4px;
  margin: 2px;
}

#check-search {
  display: none;
}

.searchForm {
  width: 100%;
  height: 40%;
  padding: 20px;
}

.box {
  float: left;

  padding: 50px;
}



.checkbtn {
  cursor: pointer;

}

.formulaireDisplay {
  background: white;
  /*visibility: hidden;*/
  display: none;
  border-radius: 2%;
  width: 100%;
  padding: 20px;
  margin-top: 4px;
}

#zoneTitre {
  padding: 12px;
  color: red;
}

#check-search:checked~.formulaireDisplay {
  /* visibility: visible; */
  display: contents;
}

i {
  border-radius: 20%;
  padding: 2px;
}

@media(max-width:768px) {
  #map {
    height: 750px;
    width: 95%;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 0;
  }
}

@media (max-width:390px) {
  #map {
    height: 750px;
    width: 90%;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 0;
  }

  .check-btn-search {
    cursor: pointer;
    margin: 0;
  }

}

/*----------------------*/

.carte-browser{
  width: 99%;
  display: flex;
  flex-direction: row;
  margin: 4px;

}

.essentiel{
  /* background: #FFFFFF; */
  width: 30%;
  margin: 2px;
}

.search-zone {
  display: flex;
  align-items: center;
  justify-content: center;
 /*  background: #fff; */
  width: calc(100% - 35px);
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 4px;
}

.search-container {
 /*  background-color: white; */
}

.zone-recherche{
  background: #fff;
  padding: 10px 0;
  border-radius: 4px;
}

.zone-recherche  mat-form-field{
  
  margin-left: 14px;
}

.search-container {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
}

.search-container mat-form-field+mat-form-field {
  margin-left: 15px;
}

.btn {
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
}

.search-btn {
  position: relative;
  /* position: absolute; */
 /*  margin-left: 15px;
  margin-right: 15px; */
 /*  margin-top: 14px; */
 margin: 0 15px;
  background: #fff;
  width: 93%;
}

.search-btn:hover {
  background: #00897b;
  color: white;
}


/*   .my-icon {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .icon-label {
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
    color: red;
  } */