<app-nav-bar></app-nav-bar>
<section>

    <ng-template #loading>
        <mat-progress-bar mode="indeterminate"
            style="text-align: center;margin-top: 20%;width: 50%;margin-left: 25%;"></mat-progress-bar>
    </ng-template>
    <div *ngIf="siteMesure else loading">

    </div>
    <section class="carte-browser">
        <div class="mat-elevation-z2" id="map">

        </div>
    </section>

    <ng-template #popupTemplate>
        <div>
            <div>
                <span class="black-text">

                    <button id="popup-button" (click)="telechargeRapport()"
                        class=" btn waves-effect waves-light">Telecharger</button>
                </span>
            </div>
        </div>
    </ng-template>

    <div *ngIf="siteMesure" class="recherche-container">
        <input type="checkbox" id="check-search">
        <label for="check-search" ><span class="check-btn-search mat-elevation-z1" >
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                </svg>
            </span></label>

        <section class="formulaireDisplay">
            <div class="search-control-form-container mat-elevation-z2 ">
                <h3 style="margin-left: 0;">Rechercher des points de mesures dans les critères</h3>

                <div>
                    <mat-form-field>
                        <mat-label style="font-size: 12px;">Choisit une annee</mat-label>
                        <mat-select (selectionChange)="selectAnnee($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let an of annees" value="{{an}}">{{an}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="margin-left: 5px;">
                        <mat-label style="font-size: 12px;">Choisit une Region</mat-label>
                        <mat-select name="region" (selectionChange)="selectRegion($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let region of regions" value="{{region}}">{{region}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label style="font-size: 12px;">Choisit une province</mat-label>
                        <mat-select (selectionChange)="selectProvince($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let province of provinces"
                                value="{{province}}">{{province}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="margin-left: 5px;">
                        <mat-label style="font-size: 12px;">Choisit une Localite</mat-label>
                        <mat-select (selectionChange)="selectLocalite($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let localite of localites"
                                value="{{localite}}">{{localite}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button class="btn search-btn mat-elevation-z2" type="submit"
                        (click)="searchTerm()">Rechercher</button>
                </div>
            </div>
        </section>
    </div>
</section>