<div class="mat-elevation-z4">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
        viewBox="0 0 24 24" width="24px" fill="#000">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
    </svg></label>
    <label class="logo">IRT CONSULTING</label>
    <ul>
        <li><a href="">Acceuil</a></li>
        <li><a routerLink="/dash">Tableau de bord</a></li>
        <li><a routerLink="/carte">Carte</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
    </ul>
</div>