<nav class="contient">
    <div class="element-centre">
        <div class="box1 z-depth-1 mat-elevation-z3">
            <h5>
                Connectez-vous
            </h5>
            <div class="box2 mat-elevation-z4">
                <form class="example-form " [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
                    <mat-grid-list cols="1" rowHeight="5:1">
                        <mat-grid-tile>Entrez vos informations d'identifications</mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width">
                                <mat-label >Identifiant</mat-label>
                                <input id="username" formControlName="username" matInput type="text" placeholder="Ex. identifiant" >
                              </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width">
                                <mat-label>Mot de passe</mat-label>
                                <input id="password" formControlName="password" matInput type="password" placeholder="Ex. mot de passe" >
                              </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <button type="submit" mat-raised-button class="btn-style" color="primary">Connexion</button>
                        </mat-grid-tile>
                      </mat-grid-list>
                      
                </form>
                
                <p class="pas-de-compte">Pas de compte ? <a routerLink="/register" routerLinkActive="active">Creer le votre des a present</a></p>
            </div>
        </div>
    </div>
</nav>
