<app-slide-bar></app-slide-bar>

<section class="home">
    <div class="graphique ">
        <h4>Rni Tableau de bord</h4>

        <button data-modal="modal1" (click)="modal()" class="rni-btn modal-open mat-elevation-z2">
            Importer un fichier rni
        </button>

    </div>

    <p></p>

    <!---------------------expansion---------------------->

    <!-- <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div> -->

    <mat-accordion class="example-headers-align" multi>

        <div *ngFor="let annee of annees">

            <app-fichier-rni (anneeRapport)="addItem($event)" [ajoutRapport]="ajoutRapport"
                [annee]="annee"></app-fichier-rni>

        </div>


        <!-- <h2>Mesures</h2>

        <p>Importer les rapports en lien avec chaque mesure ci-dessous</p>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sites
                </mat-panel-title>
                <mat-panel-description>
                    Gestions des mesures
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <app-gestion-site></app-gestion-site>
        </mat-expansion-panel> -->
    </mat-accordion>

    <h2 style="margin-top: 40px;">Fichier Rni importé</h2>

    <div *ngIf="fichierRni else loading">
        <div *ngFor="let fichier of fichierRni" class="mat-elevation-z2 fichier">
            <div style="margin:0 10px;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon style="color: black;">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button  mat-menu-item style="font-size: 8px;">
                        ouvrir
                    </button>
                    <button (click)="supprimerFichier(fichier.id)" style="font-size: 10px;" mat-menu-item>
                        supprimer
                    </button>
                </mat-menu>
            </div>

            <div >
                <p class="fichier-detail">Nom du fichier : {{fichier.nomFichier}}</p>
                <p class="fichier-detail"> Date de transfert : {{fichier.dateDeTransfert}}</p>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <div>Aucun Fichier Rni Charge...</div>
    </ng-template>

    <!------------------------------------------------------------------------------------------------------------>

    <!-------------------------#modal----------------------------->
    <div id="modal1" class="modal">
        <div class="modal-content mat-elevation-z2">
            <div class="modal-body ">

                <h2 class="titre">FICHIER RNI</h2>
                <p>Selection le fichier a charge</p>

                <form class="" [formGroup]="excelImportForm" (ngSubmit)="onSubmit()">
                    <div>
                        <div style="display: flex;  flex-direction: row;">
                            <button class="btn btn-input-file mat-elevation-z2" (click)="fileInput.click()">Choisir un
                                fichier</button>
                            <input class="input-fileInput" readonly (click)="fileInput.click()" type="text"
                                value="{{nomFichier}}">
                        </div>
                        <input hidden type="file" id="file" #fileInput (change)="onFileSelected($event)"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            formControlName="fileRni">
                    </div>

                    <div *ngIf=" file?.invalid && file?.dirty">
                        <div *ngIf="file?.errors?.['pattern']">
                            <strong class="red-text text-accent-3">Vérifier la conformite de votre
                                fichier</strong>
                        </div>
                        <div *ngIf="file?.errors?.['required']">
                            <strong class="red-text text-accent-3">Vérifier la conformite de votre
                                fichier</strong>
                        </div>
                    </div>
                    <!--boutton de soumission-->
                    <button aria-label="Save document"
                        (click)="openSnackBar('Le fichier a été importé avec succès', 'ok')"
                        class="btn btn-rni mat-elevation-z2" [disabled]="!excelImportForm.valid" type="submit"
                        name="action">Importer
                    </button>
                </form>

                <h2>Liste des fichiers rni charges</h2>

                <div *ngFor="let fichier of fichierRni">
                    <p class="fichier-charge mat-elevation-z2">Le fichier du nom de
                        <strong>"{{fichier.nomFichier}}"</strong> a été chargé le
                        <strong>{{fichier.dateDeTransfert}}</strong>
                    </p>
                </div>

            </div>

            <div class="modal-footer">
                <button class="link modal-close mat-elevation-z2">Fermer</button>
            </div>
        </div>

    </div>

</section>