<app-slide-bar class="test"></app-slide-bar>

<section class="home">
    <div class="graphique mat-elevation-z2">
        <div>
            <h4>Rni Tableau de bord</h4>
            <p>Supervision des mesures</p>

            <button data-modal="modal1" (click)="modal()" class="rni-btn modal-open mat-elevation-z2">
                Charger fichier excel
            </button>

            <!-------------------------#modal----------------------------->
            <div id="modal1" class="modal">
                <div class="modal-content mat-elevation-z8">

                    <div class="modal-header">
                        <h2>Charger le fichier Rni</h2>
                       
                        <button class="icon modal-close">X</button>
                    </div>

                    <div class="modal-body">
                        <form class="formRniExcel" [formGroup]="excelImportForm" (ngSubmit)="onSubmit()">
                            <div>
                                <div style="width: auto;height: auto; position: relative;left: 35px;">
                                    <button class="btn btn-input-file mat-elevation-z2"
                                        (click)="fileInput.click()">Fichier</button>
                                    <input class="input-fileInput" readonly (click)="fileInput.click()" type="text" value="{{nomFichier}}">
                                </div>
                                <input hidden type="file" id="file" #fileInput (change)="onFileSelected($event)"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                    formControlName="fileRni">
                            </div>

                            <div *ngIf=" file?.invalid && file?.dirty">
                                <div *ngIf="file?.errors?.['pattern']">
                                    <strong class="red-text text-accent-3">Vérifier la conformite de votre
                                        fichier</strong>
                                </div>
                                <div *ngIf="file?.errors?.['required']">
                                    <strong class="red-text text-accent-3">Vérifier la conformite de votre
                                        fichier</strong>
                                </div>
                            </div>
                            <!--boutton de soumission-->
                            <button style="left: 35px;position: relative; width: calc(100% - 85px);" class="btn btn-rni mat-elevation-z2" [disabled]="!excelImportForm.valid"
                                type="submit" name="action">Importer
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="link modal-close mat-elevation-z2">fermer</button>
                    </div>
                </div>

            </div>
        </div>
        <canvas id="myChart"></canvas>
    </div>

    <div class="rni-tab-zone mat-elevation-z2">
        <div class="form-field-container">
            <mat-form-field>
                <mat-label>Choisit une annee</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let an of annee" value="{{an}}">{{an}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choisit une Region</mat-label>
                <mat-select name="region" (selectionChange)="selectRegion($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let region of regions" value="{{region}}">{{region}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choisit une province</mat-label>
                <mat-select (selectionChange)="selectProvince($event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let province of provinces" value="{{province}}">{{province}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choisit une Localite</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let localite of localites" value="{{localite}}">{{localite}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!--------------------------------------------------------------------------------------------------->
        <table mat-table [dataSource]="myDataArray" matSort (matSortChange)="announceSortChange($event)"
            class="tab">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- nomSite Column -->
            <ng-container matColumnDef="nomSite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="nomSite"> Site </th>
                <td mat-cell *matCellDef="let element"> {{element.nomSite}} </td>
            </ng-container>

            <!-- Region Column -->
            <ng-container matColumnDef="region">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by region"> Region
                </th>
                <td mat-cell *matCellDef="let element"> {{element.region}} </td>
            </ng-container>

            <!-- Province Column -->
            <ng-container matColumnDef="province">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by province"> Province
                </th>
                <td mat-cell *matCellDef="let element"> {{element.province}} </td>
            </ng-container>
            <!-- Localite Column -->
            <ng-container matColumnDef="localite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by localite"> Localite
                </th>
                <td mat-cell *matCellDef="let element"> {{element.localite}} </td>
            </ng-container>

            <!-- Date de mesure Column -->
            <ng-container matColumnDef="dateMesure">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dateMesure"> Date
                    de mesure </th>
                <td mat-cell *matCellDef="let element"> {{element.dateMesure|date:'shortDate':'fr-FR'}} </td>
            </ng-container>

            <!-- Moyenne Spatiale Column -->
            <ng-container matColumnDef="moyenneSpatiale">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by moyenneSpatiale">
                    Moyenne Spatiale </th>
                <td mat-cell *matCellDef="let element"> {{element.moyenneSpatiale}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

    <!---------------------entrainement chart.js---------------------->

</section>