.home {
    font-family: Roboto-Regular;
    position: relative;
    height: 100vh;
    left: 88px;
    width: calc(100% - 88px);
    background: var(--body-color);
    transition: var(--trans-02);
    margin: 10px;
    padding: 10px;
}

h4 {
    padding: 10px;
    margin: auto;
    font-size: 34px;
    font-weight: normal;
    font-family: RubikDirt-Regular;
    /*  font-weight: 800; */
    margin: 0 0 15px 0;
    
}

/*-----------chart.js-------------*/
.graphique {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 6px;
    /* left: 900px; */
    background: #fff;
    width: calc(100% - 350px);
    height: 400px;
    margin-bottom: 15px;
}

.rni-tab-zone {
    padding: 10px;
    background: #fff;
    border-radius: 6px;
    width: calc(100% - 50px);
}

.home .text {
    color: var(--text-color);
}

.dash {
    width: 500px;
    margin: 0 0 35px 10px;

}


.container-mesure {

    margin: 10px;
}

/* option[value=""][disabled] {
    display: none;
  } */

.select-an {
    background: white;
    color: #1E88E5;
    height: 30px;
    width: 110px;
    border-radius: 3px;
    border: none;
    margin: 0 5px 5px 0;
}

.tab {
    font-size: 14px;
    font-weight: 600;
}

th,
td {
    width: 10em;
}

.carte {
    height: 350px;
    width: calc(100% - 50px);

    border-radius: 1%;
}

.container-ville {
    position: relative;
    height: 60px;
    width: 380px;
    margin-top: 15px;
    background: white;
    display: flex;
    align-items: center;
    /* border-left: 5px solid #1565c0 ; */

}

.container-ville .ville {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 294px;
    margin-left: 10px;
    border-radius: 6px;
    background: #1e88e5;
    color: white;
    cursor: pointer;
}

.action-ville {
    position: absolute;
    left: 2px;
    width: 180px;
}

.container-ville .valeur-ville {
    position: absolute;
    right: 5px;
    width: 189px;
    justify-content: center;
    width: calc(100%-224px);
}

#filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tableTest {
    overflow: scroll;
    height: 200px;
}

.form-field-container mat-form-field+mat-form-field {
    margin-left: 10px;
}

/*-------------fenetre modal-------------------------*/

.rni-btn {
    position: relative;
    right: 0;
    font-size: 16px;
    top: 60%;
    left: 5px;
    text-align: center;
    padding: 12px 14px;
}

.modal-open {

    font-size: 14px;
    padding: 10px 16px;
    background: #07A0C3;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.modal-open:hover {
    background: #DD1C1A;
}

.modal-header h4 {
    margin: 0;
    font-size: 34px;
    margin: 0 0 15px 0;
}

.modal-header p {
    font-size: 12px;
    margin: 0 0 50px 0;
}

.btn {
    border: none;
    
    border-radius: 2px;
}

.btn:disabled {
    box-shadow: none;
    color: #000;
    background: #E5E4E2;
    opacity: 0.8;
}

.btn-rni {
    font-family: Roboto-Regular;
    margin: 18px 0 10px 0;
    background: #DD1C1A;
    color: #fff;
    width: 100%;
    padding: 8px 14px;
    font-size: 14px;

}

.btn-input-file {
    background: #01796F;
    color: white;
    border-radius: 4px;
    width: 200px;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: normal;
}

.input-fileInput {
    font-family: Roboto-Regular;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    height: 44px;
    margin-left: 5px;
  
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.input-fileInput:hover {
    outline: none;
}

.btn-input-file:hover {
    background: #039be5;
}

.fichier-charge{
    padding: 6px;
    margin: 5px;
    font-weight: normal;
    background: #E5E4E2;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background: #333333d3;
    z-index: 101;
    display: none;
    animation: modal-open .60s;
}



.modal-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    background-color: #ffffff;
    padding: 0;
    margin: auto;
    width: 55%;
    max-height: 70%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    z-index: 4;
}

.modal-header {
    font-weight: 500;
    padding: 8px 24px;
    font-size: 26px;
}

.modal-header .titre {
    margin: 0;
    font-size: large;
    font-family: ComicNeue-Regular;
    font-weight: 500;
}

.modal-header .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 3px 8px;
    border: 0;
    outline: 0;
    background: #fb8500;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.modal-body {
    padding: 34px;
}

.modal .modal-footer {
    position: absolute;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
}

.modal-footer .modal-close {

    padding: 10px 10px;
    font-family: ComicNeue-Regular;
    font-size: medium;
    font-weight: normal;
    width: auto;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #F2F3F4;
    cursor: pointer;
    margin-right: 2rem;
}



.formRniExcel {
    width: auto;
}

@keyframes modal-open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}