/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Open_Sans_Light;
    src: url(/assets/fonts/Open_Sans/static/OpenSans-Light.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Almarai;
    src: url(/assets/fonts/Almarai/Almarai-Regular.ttf);
}

@font-face {
    font-family: RubikDirt-Regular;
    src: url(/assets/fonts/Rubik_Dirt/RubikDirt-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: RubikWetPaint-Regular;
    src: url(/assets/fonts/Rubik_Wet_Paint/RubikWetPaint-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: BadScript-Regular;
    src: url(assets/fonts/Bad_Script/BadScript-Regular.ttf);
}

@font-face {
    font-family: Antic-Regular;
    src: url(assets/fonts/Antic/Antic-Regular.ttf);
}

@font-face {
    font-family: CinzelDecorative-Regular;
    src: url(assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf);
}

@font-face {
    font-family: AlegreyaSans-Regular;
    src: url(assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}

@font-face {
    font-family: Aubrey-Regular;
    src: url(assets/fonts/Aubrey/Aubrey-Regular.ttf);
}

@font-face {
    font-family: AveriaLibre-Regular;
    src: url(assets/fonts/Averia_Libre/AveriaLibre-Regular.ttf);
}

@font-face {
    font-family: VT323-Regular;
    src: url(assets/fonts/VT323/VT323-Regular.ttf);
}


@font-face {
    font-family: Battambang-Regular;
    src: url(assets/fonts/Battambang/Battambang-Regular.ttf);
}

@font-face {
    font-family: DaysOne-Regular;
    src: url(assets/fonts/Days_One/DaysOne-Regular.ttf);
}

@font-face {
    font-family: Carattere-Regular;
    src: url(assets/fonts/Carattere/Carattere-Regular.ttf);
}


@font-face {
    font-family: BreeSerif-Regular;
    src: url(assets/fonts/Bree_Serif/BreeSerif-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    /*=============colors=====================*/
    --body-color: #f8f9fa;
    --sidebar-color: #ffffff;
    --primary-color: #00bbf9;
    --primary-color-light: #eceff1;
    --toogle-color: #DDD;
    --text-color: #78909c   ;
    --nav-text-logo-color:#00bbf9;
    --nav-text-color:#212529;
    --section-text-color: #000;
    --main-color: #29fd53;
    /*============transition===============*/
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
}

button:disabled{
    box-shadow: none;
    color: #000;
    background: #E5E4E2;
    opacity: 0.8;
}

.my-div-icon .my-text {
    font-size: 12px;
    color: red;
}

.my-div-icon {
    text-align: center;
}

.icon {
    /* display: inline-block; */
    text-align: center;
}

.icon .text {
    /* background-image: radial-gradient(circle,#e64a19, #f4511e,#fbe9e7 );  */
    /* background-color: #4895ef; */
    /* background-image:  radial-gradient(circle, hsla(294, 100%, 55%, 1) 38%, hsla(197, 100%, 63%, 1) 46%, hsla(230, 100%, 74%, 1) 60%); */
    background-color: #FFA62B;
    text-align: center;
    /*  line-height: 50px; */
    font-size: 12px;
    /* padding: 16px; */
    /* padding: 0.65rem 0.48rem 0.65rem 0.48rem; */
    color: black;
    /* border: 2px solid white; */
    /* border-radius: 50%; */
}

.baliseLeaflet {
    /* visibility: hidden; */
    display: none;
}

.section-text {
    color: var(--section-text-color);
}


body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-02);
}

body.dark {
    --body-color: #212529;
    --sidebar-color: #212529;
    --primary-color: #fff;
    --primary-color-light: #546e7a;
    --toogle-color: #DDD;
    --text-color: #fff;
    --section-text-color: white;
}

/*===============dark mode===============*/

body.dark .switch::before {
    left: 23px;
}

/*==============================home--------------------------*/


/* body.dark .sidebar .menu-bar .mode svg.moon{
    opacity: 1;
}

body.dark .sidebar .menu-bar .mode svg.sun{
   opacity: 0;
} */

/* .my-pagination{
    height: 32px;
}

.ngx-pagination{
    height: 30px;
}

.ngx-pagination li{
    height: 30px;
}

.ngx-pagination li a span{
    height: 30px;
    justify-content: center;
}

.pagination-previous{
    height: 30px;
}

.pagination-previous::before{
    height: 30px;
} */
/* 
.text {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: red;
    text-align: center;
} */


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*------------leaflet personnalisation--------------------------------------*/

.ville-marker-style {
    background: #0082e6;
    border-radius: 50%;
    width: 40px;
    color: white;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ville-marker-style :hover {
    background: #d81b60;
    border-radius: 50%;
    width: 40px;
    color: white;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-panel{
    opacity: 1;
    margin-top: 30px;
    border-radius: 2px;
    background: #fff;
    
    color: #000;
    font-family: Open_Sans_Light;
    font-size: 16px;
    font-weight: 500;
    /* border: 6px #ffcf00; */
    /* border-style: none none solid none; */
  }

  .card-panel p{
    font-family: AlegreyaSans-Regular;
    margin: 0px;
    padding: 5px;
    font-size:14px;
    font-weight: normal;;
    border-radius: 2px;
    border: none;

  }

  .rni-info{
    
    background: #F5F5F5;
    padding: 6px;
   /*  border: 2px black;
    border-style: solid none solid none; */
    margin: 0;
  }

  .rni-titre{
    font-family: AlegreyaSans-Regular;
   /*  background: #E8CD48; */
    margin: 0;
    text-align: left;
    color: black;
    /* padding: 2px; */
   /*  border: 2px black;
    border-style: solid none solid none; */
  }

  /* .rni-site{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto-Regular;
    background: linear-gradient(
        to right,
        #424242  2%,
        #fff 2%
    ) ;
    color: #011627;
    padding: 5px;
    margin-bottom: 15px;
  } */
  /*
  #FDFFFC,
  #FF9F1C
  #2a9d8f 
  #fffffc 
  */
  .leaflet-popup-content-wrapper{
    background: linear-gradient(
        to bottom,
        #293241 10%,
        #FEFEFA 10%
    );
    color: #fff;
    border-radius: 4px;
    padding: 10px;
  }

  .leaflet-container a.leaflet-popup-close-button {
    color: #ffffff;
  }

  .leaflet-container a.leaflet-popup-close-button:hover{
    color: #000;
  }

  /*
    modal
  */


  .rni-btn {
    position: relative;
    right: 0;
    font-size: 16px;
    height: 40px;
    left: 5px;
    text-align: center;
    
}

.modal-open {

    font-size: 14px;
    padding: 10px 16px;
    background: #07A0C3;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.modal-open:hover {
    background: #DD1C1A;
}

.modal-header h4 {
    margin: 0;
    font-size: 34px;
    margin: 0 0 15px 0;
}

.modal-header p {
    font-size: 12px;
    margin: 0 0 50px 0;
}

.btn {
    border: none;
    
    border-radius: 2px;
}

.btn:disabled {
    box-shadow: none;
    color: #000;
    background: #E5E4E2;
    opacity: 0.8;
}

.btn-rni {
    font-family: Roboto-Regular;
    margin: 18px 0 10px 0;
    background: #DD1C1A;
    color: #fff;
    width: 100%;
    padding: 8px 14px;
    font-size: 14px;

}

.input-fileInput {
    font-family: Roboto-Regular;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    height: 44px;
    margin-left: 5px;
  
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.input-fileInput:hover {
    outline: none;
}



.fichier-charge{
    padding: 6px;
    margin: 5px;
    font-weight: normal;
    background: #E5E4E2;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background: #333333d3;
    z-index: 101;
    display: none;
    animation: modal-open .60s;
}



.modal-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    background-color: #ffffff;
    padding: 0;
    margin: auto;
    width: 55%;
    max-height: 70%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    z-index: 4;
}

.modal-header {
    font-weight: 500;
    padding: 8px 24px;
    font-size: 26px;
}

.modal-header .titre {
    margin: 0;
    font-size: large;
    font-family: ComicNeue-Regular;
    font-weight: 500;
}

.modal-header .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    padding: 3px 8px;
    border: 0;
    outline: 0;
    background: #fb8500;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.modal-body {
    padding: 34px;
}

.modal .modal-footer {
    position: absolute;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
}

.modal-footer .modal-close {

    padding: 10px 10px;
    font-family: ComicNeue-Regular;
    font-size: medium;
    font-weight: normal;
    width: auto;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #F2F3F4;
    cursor: pointer;
    margin-right: 2rem;
}



.formRniExcel {
    width: auto;
}

@keyframes modal-open {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

