/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Open_Sans_Light;
    src: url(/assets/fonts/Open_Sans/static/OpenSans-Light.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Almarai;
    src: url(/assets/fonts/Almarai/Almarai-Regular.ttf);
}

@font-face {
    font-family: RubikDirt-Regular;
    src: url(/assets/fonts/Rubik_Dirt/RubikDirt-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: RubikWetPaint-Regular;
    src: url(/assets/fonts/Rubik_Wet_Paint/RubikWetPaint-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*=============colors=====================*/
    --body-color: #E0E0E0;
    --sidebar-color: #fff;
    --primary-color: #1976d2;
    --primary-color-light: #eceff1;
    --toogle-color: #DDD;
    --text-color: #707070;
    --section-text-color: #000;
    /*============transition===============*/
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

button{
    cursor: pointer;
}

.my-div-icon .my-text {
    font-size: 12px;
    color: red;
}

.my-div-icon {
    text-align: center;
}

.icon {
    /* display: inline-block; */
    text-align: center;
}

.icon .text {
    /* background-image: radial-gradient(circle,#e64a19, #f4511e,#fbe9e7 );  */
    /* background-color: #4895ef; */
    /* background-image:  radial-gradient(circle, hsla(294, 100%, 55%, 1) 38%, hsla(197, 100%, 63%, 1) 46%, hsla(230, 100%, 74%, 1) 60%); */
    background-color: #FFA62B;
    text-align: center;
    /*  line-height: 50px; */
    font-size: 12px;
    /* padding: 16px; */
    /* padding: 0.65rem 0.48rem 0.65rem 0.48rem; */
    color: black;
    /* border: 2px solid white; */
    /* border-radius: 50%; */
}

.baliseLeaflet {
    /* visibility: hidden; */
    display: none;
}

.section-text {
    color: var(--section-text-color);
}


body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-02);
}

body.dark {
    --body-color: #212529;
    --sidebar-color: #212529;
    --primary-color: #fff;
    --primary-color-light: #546e7a;
    --toogle-color: #DDD;
    --text-color: #fff;
    --section-text-color: white;
}

/*===============dark mode===============*/

body.dark .switch::before {
    left: 23px;
}

/*==============================home--------------------------*/


/* body.dark .sidebar .menu-bar .mode svg.moon{
    opacity: 1;
}

body.dark .sidebar .menu-bar .mode svg.sun{
   opacity: 0;
} */

/* .my-pagination{
    height: 32px;
}

.ngx-pagination{
    height: 30px;
}

.ngx-pagination li{
    height: 30px;
}

.ngx-pagination li a span{
    height: 30px;
    justify-content: center;
}

.pagination-previous{
    height: 30px;
}

.pagination-previous::before{
    height: 30px;
} */
/* 
.text {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: red;
    text-align: center;
} */


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*------------leaflet personnalisation--------------------------------------*/

.ville-marker-style {
    background: #0082e6;
    border-radius: 50%;
    width: 40px;
    color: white;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.ville-marker-style :hover {
    background: #d81b60;
    border-radius: 50%;
    width: 40px;
    color: white;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-panel{
    opacity: 1;
    border-radius: 2px;
    background: #fff;
    padding: 5px;
    color: #000;
    font-family: Open_Sans_Light;
    font-size: 16px;
    font-weight: 500;
  }

  .card-panel p{
    margin: 0;
    padding: 5px;
    background: #001219;
    
    color: #fff;
    border: 1px solid #fff;

  }

  .rni-site{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto-Regular;
    background: linear-gradient(
        to right,
        #424242  2%,
        #fff 2%
    ) ;
    color: #011627;
    padding: 5px;
    margin-bottom: 15px;
  }
  /*
  #FDFFFC,
  #FF9F1C
  #2a9d8f 
  #fffffc 
  */
  .leaflet-popup-content-wrapper{
    background: linear-gradient(
        to right,
        #00bbf9   35%,
        #fff 35%
    );
    color: #fff;
    border-radius: 4px;
    padding: 10px;
  }

  .leaflet-container a.leaflet-popup-close-button {
    color: #000;
  }

  .leaflet-container a.leaflet-popup-close-button:hover{
    color: #d81b60;
  }

