<section class="section-style mat-elevation-z2">
    <h2 class="titre-nouveau-compte"  align="center">IRT CONSULTING</h2>
    <p style="padding: 10px;">Avec un compte vous serez en mesure de pouvoir avoir accès au mesure par exemple.</p>
    <div style="background: #f8f9fa;border-radius: 6px;padding: 10px;border-top: 2px solid var(--nav-text-logo-color);">
        <form [formGroup]="registrationFormGroup" (ngSubmit)="registerUser()">
            <div class="form-style">
                <div class="form-container">
                    <mat-form-field class="input-style" appearance="outline">
                        <mat-label>Identifiant</mat-label>
                        <input formControlName="username" matInput type="text" placeholder="Ex. identifiant">
                    </mat-form-field>
                </div>
                <div class="form-container">
                    <mat-form-field class="input-style" appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input formControlName="nom" matInput type="text" placeholder="Ex. Traore">
                    </mat-form-field>
                </div>
    
                <div class="form-container">
                    <mat-form-field class="input-style" appearance="outline">
                        <mat-label>Prenom</mat-label>
                        <input formControlName="prenom" matInput type="text" placeholder="Ex. Aboubacar">
                    </mat-form-field>
                </div>
    
                <div>
                    <mat-form-field class="email-style" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" type="email" matInput placeholder="Ex. pat@example.com">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="email-style" appearance="outline">
                        <mat-label>Mot de passe</mat-label>
                        <input formControlName="password" type="password" matInput placeholder="Ex. pat@example.com">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="email-style" appearance="outline">
                        <mat-label>Confirmation du mot de passe</mat-label>
                        <input formControlName="confirmPassword" type="password" matInput placeholder="Ex. pat@example.com">
                    </mat-form-field>
                </div>
                <div>
                    <button [disabled]="!registrationFormGroup.valid" type="submit" mat-raised-button class="btn-style"
                        color="primary">Creation du compte</button>
                </div>
            </div>
    
        </form>
    </div>
    <p style="margin-bottom: 55px;" align="center" class="compte">Vous avez deja un compte ? <a routerLink="/login">Retrouvez le ici</a></p>
</section>